<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{{pageTitle}}</title>
  </head>
  <body>
    {{> header}}
    <section>
      <p>Developed the following apps using Node.js:</p>
      <ul>
        <li>Notes App</li>
        <li>Weather App</li>
        <li>Books Manager App</li>
        <li>Todo App</li>
      </ul>
    </section>
    {{> footer}}
  </body>
</html>
